.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 719.6750000000002px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -3px;
}

#pu6719
{
	width: 0.01px;
	left: -3px;
	position: relative;
}

#u6719
{
	z-index: 141;
	width: 305px;
	margin-right: -10000px;
}

#u2449
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 419px;
}

#u6721
{
	z-index: 143;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu2253
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
	margin-top: 2px;
}

#u2261
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2264
{
	width: 130px;
	padding-bottom: 7px;
}

#u2264:hover
{
	margin: 0px;
}

#u2265-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2264:hover #u2265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3911
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u3912
{
	width: 146px;
	padding-bottom: 7px;
}

#u2264.MuseMenuActive,#u3912:hover
{
	margin: 0px;
}

#u3913-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2264.MuseMenuActive #u2265-4,#u3912:hover #u3913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2312
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u2315
{
	width: 298px;
	padding-bottom: 7px;
}

#u3912.MuseMenuActive,#u2315:hover
{
	margin: 0px;
}

#u2318-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3912.MuseMenuActive #u3913-4,#u2315:hover #u2318-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2275
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u2276
{
	width: 189px;
	padding-bottom: 7px;
}

#u2315.MuseMenuActive,#u2276:hover
{
	margin: 0px;
}

#u2279-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2315.MuseMenuActive #u2318-4,#u2276:hover #u2279-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2282
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u2283
{
	width: 114px;
	padding-bottom: 7px;
}

#u2276.MuseMenuActive,#u2283:hover
{
	margin: 0px;
}

#u2286-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2276.MuseMenuActive #u2279-4,#u2283:hover #u2286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2319
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u2320
{
	width: 136px;
	padding-bottom: 7px;
}

#u2283.MuseMenuActive,#u2320:hover
{
	margin: 0px;
}

#u2322-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u2283.MuseMenuActive #u2286-4,#u2320:hover #u2322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5032
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5035
{
	width: 147px;
	padding-bottom: 7px;
}

#u2320.MuseMenuActive,#u5035:hover
{
	margin: 0px;
}

#u5037-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u2320.MuseMenuActive #u2322-4,#u5035:hover #u5037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5035.MuseMenuActive #u5037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu2448
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 95px;
	position: relative;
}

#u2448
{
	z-index: 99;
	width: 257px;
	margin-right: -10000px;
	padding: 6px 7px 9.249999999999659px 9px;
}

#u2250
{
	z-index: 126;
	width: 257px;
	padding-bottom: 6px;
}

#u2370-4
{
	z-index: 127;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#menuu2326
{
	z-index: 100;
	width: 257px;
	margin-top: 2px;
}

#u2327
{
	width: 257px;
}

#u2330
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2330:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2330:active
{
	margin: 0px -10000px 0px 0px;
}

#u2344
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2330.MuseMenuActive,#u2344:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2344:active
{
	margin: 0px -10000px 0px 0px;
}

#u2349
{
	width: 257px;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2344.MuseMenuActive,#u2349:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2349:active
{
	margin: 0px -10000px 0px 0px;
}

#u2335
{
	width: 257px;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2349.MuseMenuActive,#u2335:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2335:active
{
	margin: 0px -10000px 0px 0px;
}

#u2341,#u2348,#u2334,#u5955
{
	width: 257px;
	margin-top: 2px;
}

#u5958
{
	width: 257px;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2335.MuseMenuActive,#u5958:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5958:active
{
	margin: 0px -10000px 0px 0px;
}

#u5958.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2331,#u2346,#u2350,#u2336,#u5961
{
	height: 22px;
	width: 257px;
}

#u2371
{
	z-index: 131;
	width: 6px;
	margin-right: -10000px;
	margin-top: 162px;
	left: 19px;
}

#u2373
{
	z-index: 133;
	width: 6px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 19px;
}

#u2375
{
	z-index: 135;
	width: 6px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 19px;
}

#u2451
{
	z-index: 137;
	width: 6px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 19px;
}

#u5946
{
	z-index: 139;
	width: 6px;
	margin-right: -10000px;
	margin-top: 196px;
	left: 19px;
}

#u6761
{
	z-index: 145;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 301px;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u6762
{
	z-index: 146;
	width: 789px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u6763-79
{
	z-index: 147;
	display: block;
	vertical-align: top;
	margin-bottom: -49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#pu2453
{
	width: 0.01px;
	left: -100px;
	margin-top: 80px;
	position: relative;
}

#u2453
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u2453_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u2453_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu2377
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u2406
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2409
{
	width: 45px;
	padding-bottom: 20px;
}

#u5035.MuseMenuActive,#u2409:hover
{
	margin: 0px;
}

#u2412-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u2409:hover #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3918
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u3921
{
	width: 47px;
	padding-bottom: 20px;
}

#u2409.MuseMenuActive,#u3921:hover
{
	margin: 0px;
}

#u3921.MuseMenuActive
{
	margin: 0px;
}

#u3924-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2409.MuseMenuActive #u2412-4,#u3921:hover #u3924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2441
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u2444
{
	width: 157px;
	padding-bottom: 20px;
}

#u2445-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3921.MuseMenuActive #u3924-4,#u2444:hover #u2445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2434
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u2435
{
	width: 84px;
	padding-bottom: 20px;
}

#u2437-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u2444.MuseMenuActive #u2445-4,#u2435:hover #u2437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2378
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u2381
{
	width: 33px;
	padding-bottom: 20px;
}

#u2384-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u2435.MuseMenuActive #u2437-4,#u2381:hover #u2384-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2413
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u2416
{
	width: 49px;
	padding-bottom: 20px;
}

#u2417-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u2381.MuseMenuActive #u2384-4,#u2416:hover #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5004
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5005
{
	width: 43px;
}

#u5008-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u2416.MuseMenuActive #u2417-4,#u5005:hover #u5008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5005.MuseMenuActive #u5008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2251-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u2252-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

body
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

