.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 810.8249999999998px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -35px;
}

#pu6749
{
	width: 0.01px;
	left: -3px;
	position: relative;
}

#u6749
{
	z-index: 162;
	width: 305px;
	margin-right: -10000px;
}

#hoursofoperation-fitness
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 373px;
}

#u5116
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 419px;
}

#u6751
{
	z-index: 164;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu5210
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
	margin-top: 1px;
}

#u5248
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5249
{
	width: 130px;
	padding-bottom: 7px;
}

#u5249:hover
{
	margin: 0px;
}

#u5252-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u5249:hover #u5252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5255
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u5258
{
	width: 146px;
	padding-bottom: 7px;
}

#u5249.MuseMenuActive,#u5258:hover
{
	margin: 0px;
}

#u5260-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u5249.MuseMenuActive #u5252-4,#u5258:hover #u5260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5241
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u5242
{
	width: 298px;
	padding-bottom: 7px;
}

#u5258.MuseMenuActive,#u5242:hover
{
	margin: 0px;
}

#u5243-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u5258.MuseMenuActive #u5260-4,#u5242:hover #u5243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5269
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u5272
{
	width: 189px;
	padding-bottom: 7px;
}

#u5242.MuseMenuActive,#u5272:hover
{
	margin: 0px;
}

#u5274-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u5242.MuseMenuActive #u5243-4,#u5272:hover #u5274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5262
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u5265
{
	width: 114px;
	padding-bottom: 7px;
}

#u5272.MuseMenuActive,#u5265:hover
{
	margin: 0px;
}

#u5266-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u5272.MuseMenuActive #u5274-4,#u5265:hover #u5266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5211
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u5214
{
	width: 136px;
	padding-bottom: 7px;
}

#u5265.MuseMenuActive,#u5214:hover
{
	margin: 0px;
}

#u5217-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u5265.MuseMenuActive #u5266-4,#u5214:hover #u5217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5218
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5219
{
	width: 147px;
	padding-bottom: 7px;
}

#u5214.MuseMenuActive,#u5219:hover
{
	margin: 0px;
}

#u5222-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u5214.MuseMenuActive #u5217-4,#u5219:hover #u5222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5219.MuseMenuActive #u5222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5118
{
	z-index: 99;
	width: 273px;
	height: 374px;
	top: 358px;
	left: 50%;
	margin-left: -546px;
}

#pu5088
{
	width: 0.01px;
	margin-left: 348px;
	margin-top: 95px;
	position: relative;
}

#u5088
{
	z-index: 166;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u5089
{
	z-index: 167;
	width: 789px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u5089_position_content
{
	margin-top: 5px;
	margin-bottom: -10px;
}

#u5090-45
{
	z-index: 168;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	position: relative;
}

#pu5096-7
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 398px;
	position: relative;
}

#u5096-7
{
	z-index: 213;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u5097
{
	z-index: 220;
	width: 199px;
	border-style: none;
	border-color: transparent;
	background-color: #381C1C;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 535px;
}

#u5102
{
	z-index: 224;
	width: 176px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u5108-63
{
	z-index: 233;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 14px;
	position: relative;
}

#u5101-3
{
	z-index: 221;
	width: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1316px;
	left: 263px;
}

#u5107-7
{
	z-index: 226;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1047px;
	left: 23px;
}

#lockerroom
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 169px;
	left: 23px;
}

#workoutgroupfitness
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 267px;
	left: 23px;
}

#membercardaccess
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 406px;
	left: 23px;
}

#dresscode
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 607px;
	left: 23px;
}

#schedule
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 691px;
	left: 34px;
}

#classdescriptions
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1409px;
	left: 23px;
}

#personaltraining
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2012px;
	left: 23px;
}

#u6106
{
	z-index: 304;
	width: 740px;
	position: relative;
	margin-right: -10000px;
	margin-top: 680px;
	left: 31px;
}

#pu5114
{
	width: 0.01px;
	padding-bottom: 357px;
	margin-left: 63px;
	top: -2494px;
	margin-bottom: -357px;
	position: relative;
}

#u5114
{
	z-index: 141;
	width: 257px;
	height: 36px;
	top: 364px;
	left: 50%;
	margin-left: -537px;
}

#menuu5187
{
	z-index: 100;
	width: 257px;
	top: 402px;
	left: 50%;
	margin-left: -538px;
}

#u5188
{
	width: 257px;
}

#u5189
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5189:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5189:active
{
	margin: 0px -10000px 0px 0px;
}

#u5321
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5189.MuseMenuActive,#u5321:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5321:active
{
	margin: 0px -10000px 0px 0px;
}

#u5314
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5321.MuseMenuActive,#u5314:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5314:active
{
	margin: 0px -10000px 0px 0px;
}

#u5333
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5314.MuseMenuActive,#u5333:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5333:active
{
	margin: 0px -10000px 0px 0px;
}

#u5326
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5333.MuseMenuActive,#u5326:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5326:active
{
	margin: 0px -10000px 0px 0px;
}

#u5307
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5326.MuseMenuActive,#u5307:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5307:active
{
	margin: 0px -10000px 0px 0px;
}

#u5347
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5307.MuseMenuActive,#u5347:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5347:active
{
	margin: 0px -10000px 0px 0px;
}

#u5318,#u5311,#u5332,#u5325,#u5304,#u5346,#u5339
{
	width: 257px;
	margin-top: 2px;
}

#u5340
{
	width: 257px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5347.MuseMenuActive,#u5340:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5340:active
{
	margin: 0px -10000px 0px 0px;
}

#u5340.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u5190,#u5324,#u5317,#u5335,#u5328,#u5310,#u5349,#u5342
{
	height: 22px;
	width: 257px;
}

#u5120
{
	z-index: 146;
	width: 6px;
	top: 417px;
	left: 50%;
	margin-left: -529px;
}

#u5353
{
	z-index: 148;
	width: 6px;
	top: 458px;
	left: 50%;
	margin-left: -529px;
}

#u5356
{
	z-index: 150;
	width: 6px;
	top: 499px;
	left: 50%;
	margin-left: -529px;
}

#u5358
{
	z-index: 152;
	width: 6px;
	top: 537px;
	left: 50%;
	margin-left: -529px;
}

#u5362
{
	z-index: 154;
	width: 6px;
	top: 578px;
	left: 50%;
	margin-left: -529px;
}

#u5364
{
	z-index: 156;
	width: 6px;
	top: 618px;
	left: 50%;
	margin-left: -529px;
}

#u5368
{
	z-index: 158;
	width: 6px;
	top: 658px;
	left: 50%;
	margin-left: -529px;
}

#u5370
{
	z-index: 160;
	width: 6px;
	top: 697px;
	left: 50%;
	margin-left: -529px;
}

#u5122-4
{
	z-index: 142;
	top: 368px;
	left: 50%;
	margin-left: -452px;
}

#pu5276
{
	width: 0.01px;
	left: -100px;
	margin-top: 2px;
	position: relative;
}

#u5276
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u5276_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5276_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu5123
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u5166
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5167
{
	width: 45px;
	padding-bottom: 20px;
}

#u5219.MuseMenuActive,#u5167:hover
{
	margin: 0px;
}

#u5169-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u5167:hover #u5169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5152
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u5155
{
	width: 47px;
	padding-bottom: 20px;
}

#u5167.MuseMenuActive,#u5155:hover
{
	margin: 0px;
}

#u5155.MuseMenuActive
{
	margin: 0px;
}

#u5156-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u5167.MuseMenuActive #u5169-4,#u5155:hover #u5156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5138
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u5139
{
	width: 157px;
	padding-bottom: 20px;
}

#u5141-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u5155.MuseMenuActive #u5156-4,#u5139:hover #u5141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5159
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u5160
{
	width: 84px;
	padding-bottom: 20px;
}

#u5162-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u5139.MuseMenuActive #u5141-4,#u5160:hover #u5162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5173
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u5174
{
	width: 33px;
	padding-bottom: 20px;
}

#u5177-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u5160.MuseMenuActive #u5162-4,#u5174:hover #u5177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5145
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u5148
{
	width: 49px;
	padding-bottom: 20px;
}

#u5150-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u5174.MuseMenuActive #u5177-4,#u5148:hover #u5150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5180
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5181
{
	width: 43px;
}

#u5182-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u5148.MuseMenuActive #u5150-4,#u5181:hover #u5182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5181.MuseMenuActive #u5182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5115-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u5119-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

#page .verticalspacer
{
	clear: both;
}

