.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 675.9750000000004px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -1px;
}

#pu6713
{
	width: 0.01px;
	left: -3px;
	position: relative;
}

#u6713
{
	z-index: 141;
	width: 305px;
	margin-right: -10000px;
}

#u1951
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 419px;
}

#u6715
{
	z-index: 143;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu1953
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
	margin-top: 3px;
}

#u1984
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u1985
{
	width: 130px;
	padding-bottom: 7px;
}

#u1985:hover
{
	margin: 0px;
}

#u1986-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u1985:hover #u1986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3932
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u3935
{
	width: 146px;
	padding-bottom: 7px;
}

#u1985.MuseMenuActive,#u3935:hover
{
	margin: 0px;
}

#u3938-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u1985.MuseMenuActive #u1986-4,#u3935:hover #u3938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2019
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u2022
{
	width: 298px;
	padding-bottom: 7px;
}

#u3935.MuseMenuActive,#u2022:hover
{
	margin: 0px;
}

#u2024-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3935.MuseMenuActive #u3938-4,#u2022:hover #u2024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1998
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u2001
{
	width: 189px;
	padding-bottom: 7px;
}

#u2022.MuseMenuActive,#u2001:hover
{
	margin: 0px;
}

#u2004-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2022.MuseMenuActive #u2024-4,#u2001:hover #u2004-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1954
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u1955
{
	width: 114px;
	padding-bottom: 7px;
}

#u2001.MuseMenuActive,#u1955:hover
{
	margin: 0px;
}

#u1956-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2001.MuseMenuActive #u2004-4,#u1955:hover #u1956-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u1991
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u1992
{
	width: 136px;
	padding-bottom: 7px;
}

#u1955.MuseMenuActive,#u1992:hover
{
	margin: 0px;
}

#u1994-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u1955.MuseMenuActive #u1956-4,#u1992:hover #u1994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5046
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5047
{
	width: 147px;
	padding-bottom: 7px;
}

#u1992.MuseMenuActive,#u5047:hover
{
	margin: 0px;
}

#u5049-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u1992.MuseMenuActive #u1994-4,#u5047:hover #u5049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5047.MuseMenuActive #u5049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu2178
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 96px;
	position: relative;
}

#u2178
{
	z-index: 99;
	width: 257px;
	margin-right: -10000px;
	padding: 6px 7px 6.249999999999659px 9px;
}

#u2223
{
	z-index: 126;
	width: 257px;
	padding-bottom: 3px;
}

#u2224-4
{
	z-index: 127;
	margin-right: -10000px;
	margin-top: 4px;
	left: 73px;
}

#menuu2179
{
	z-index: 100;
	width: 257px;
	margin-top: 2px;
}

#u2194
{
	width: 257px;
}

#u2197
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2197:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2197:active
{
	margin: 0px -10000px 0px 0px;
}

#u2188
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2197.MuseMenuActive,#u2188:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2188:active
{
	margin: 0px -10000px 0px 0px;
}

#u2181
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2188.MuseMenuActive,#u2181:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2181:active
{
	margin: 0px -10000px 0px 0px;
}

#u4334
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2181.MuseMenuActive,#u4334:hover
{
	margin: 0px -10000px 0px 0px;
}

#u4334:active
{
	margin: 0px -10000px 0px 0px;
}

#u2187,#u2180,#u4333,#u2201
{
	width: 257px;
	margin-top: 2px;
}

#u2204
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u4334.MuseMenuActive,#u2204:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2204:active
{
	margin: 0px -10000px 0px 0px;
}

#u2204.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2198,#u2189,#u2183,#u4336,#u2206
{
	height: 22px;
	width: 257px;
}

#u2225
{
	z-index: 131;
	width: 6px;
	margin-right: -10000px;
	margin-top: 164px;
	left: 17px;
}

#u2227
{
	z-index: 133;
	width: 6px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 17px;
}

#u2229
{
	z-index: 135;
	width: 6px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 17px;
}

#u2231
{
	z-index: 137;
	width: 6px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 17px;
}

#u4347
{
	z-index: 139;
	width: 6px;
	margin-right: -10000px;
	margin-top: 200px;
	left: 17px;
}

#u5952
{
	z-index: 145;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u5953
{
	z-index: 146;
	width: 789px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u5954-79
{
	z-index: 147;
	display: block;
	vertical-align: top;
	margin-bottom: -49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#pu1877
{
	width: 0.01px;
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u1877
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u1877_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u1877_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu1878
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u1928
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1929
{
	width: 45px;
	padding-bottom: 20px;
}

#u5047.MuseMenuActive,#u1929:hover
{
	margin: 0px;
}

#u1931-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u1929:hover #u1931-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3904
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u3905
{
	width: 47px;
	padding-bottom: 20px;
}

#u1929.MuseMenuActive,#u3905:hover
{
	margin: 0px;
}

#u3905.MuseMenuActive
{
	margin: 0px;
}

#u3906-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u1929.MuseMenuActive #u1931-4,#u3905:hover #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1907
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u1908
{
	width: 157px;
	padding-bottom: 20px;
}

#u1909-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3905.MuseMenuActive #u3906-4,#u1908:hover #u1909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1935
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u1936
{
	width: 84px;
	padding-bottom: 20px;
}

#u1937-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u1908.MuseMenuActive #u1909-4,#u1936:hover #u1937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1921
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u1924
{
	width: 33px;
	padding-bottom: 20px;
}

#u1925-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u1936.MuseMenuActive #u1937-4,#u1924:hover #u1925-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1942
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u1945
{
	width: 49px;
	padding-bottom: 20px;
}

#u1947-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u1924.MuseMenuActive #u1925-4,#u1945:hover #u1947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5039
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5040
{
	width: 43px;
}

#u5041-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u1945.MuseMenuActive #u1947-4,#u5040:hover #u5041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5040.MuseMenuActive #u5041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u1949-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u1950-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

body
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

