.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 720px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -3px;
}

#pu6743
{
	width: 0.01px;
	left: -3px;
	position: relative;
}

#u6743
{
	z-index: 113;
	width: 305px;
	margin-right: -10000px;
}

#u3408
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 419px;
}

#u6745
{
	z-index: 115;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu3285
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
	margin-top: 2px;
}

#u3323
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u3326
{
	width: 130px;
	padding-bottom: 7px;
}

#u3326:hover
{
	margin: 0px;
}

#u3327-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3326:hover #u3327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3995
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u3996
{
	width: 146px;
	padding-bottom: 7px;
}

#u3326.MuseMenuActive,#u3996:hover
{
	margin: 0px;
}

#u3999-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3326.MuseMenuActive #u3327-4,#u3996:hover #u3999-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3337
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u3338
{
	width: 298px;
	padding-bottom: 7px;
}

#u3996.MuseMenuActive,#u3338:hover
{
	margin: 0px;
}

#u3339-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3996.MuseMenuActive #u3999-4,#u3338:hover #u3339-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3351
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u3354
{
	width: 189px;
	padding-bottom: 7px;
}

#u3338.MuseMenuActive,#u3354:hover
{
	margin: 0px;
}

#u3356-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3338.MuseMenuActive #u3339-4,#u3354:hover #u3356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3286
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u3287
{
	width: 114px;
	padding-bottom: 7px;
}

#u3354.MuseMenuActive,#u3287:hover
{
	margin: 0px;
}

#u3289-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3354.MuseMenuActive #u3356-4,#u3287:hover #u3289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3330
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u3331
{
	width: 136px;
	padding-bottom: 7px;
}

#u3287.MuseMenuActive,#u3331:hover
{
	margin: 0px;
}

#u3333-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3287.MuseMenuActive #u3289-4,#u3331:hover #u3333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5053
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5056
{
	width: 147px;
	padding-bottom: 7px;
}

#u3331.MuseMenuActive,#u5056:hover
{
	margin: 0px;
}

#u5059-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u3331.MuseMenuActive #u3333-4,#u5056:hover #u5059-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5056.MuseMenuActive #u5059-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu3484
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 95px;
	position: relative;
}

#u3484
{
	z-index: 99;
	width: 257px;
	margin-right: -10000px;
	padding: 6px 7px 9.249999999999659px 9px;
}

#u3481
{
	z-index: 106;
	width: 257px;
	padding-bottom: 3px;
}

#u3382-4
{
	z-index: 107;
	margin-right: -10000px;
	margin-top: 4px;
	left: 86px;
}

#menuu3359
{
	z-index: 100;
	width: 257px;
	left: -1px;
	margin-top: 2px;
}

#u3375
{
	width: 257px;
}

#u3376
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u3376:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3376:active
{
	margin: 0px -10000px 0px 0px;
}

#u3376.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u3379
{
	height: 22px;
	width: 257px;
}

#u3482
{
	z-index: 111;
	width: 6px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 19px;
}

#u996
{
	z-index: 117;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u997
{
	z-index: 118;
	width: 789px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u998-7
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u1011
{
	z-index: 126;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: #381C1C;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 597px;
}

#u999
{
	z-index: 127;
	width: 174px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 3px;
}

#u999_img
{
	padding-right: 2px;
}

#pu3485
{
	width: 0.01px;
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u3485
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u3485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u3485_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu3410
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u3418
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3421
{
	width: 45px;
	padding-bottom: 20px;
}

#u5056.MuseMenuActive,#u3421:hover
{
	margin: 0px;
}

#u3422-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3421:hover #u3422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3988
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u3991
{
	width: 47px;
	padding-bottom: 20px;
}

#u3421.MuseMenuActive,#u3991:hover
{
	margin: 0px;
}

#u3991.MuseMenuActive
{
	margin: 0px;
}

#u3993-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u3421.MuseMenuActive #u3422-4,#u3991:hover #u3993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3467
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u3468
{
	width: 157px;
	padding-bottom: 20px;
}

#u3471-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3991.MuseMenuActive #u3993-4,#u3468:hover #u3471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3425
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u3428
{
	width: 84px;
	padding-bottom: 20px;
}

#u3430-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3468.MuseMenuActive #u3471-4,#u3428:hover #u3430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3446
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u3447
{
	width: 33px;
	padding-bottom: 20px;
}

#u3448-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3428.MuseMenuActive #u3430-4,#u3447:hover #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3474
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u3475
{
	width: 49px;
	padding-bottom: 20px;
}

#u3476-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3447.MuseMenuActive #u3448-4,#u3475:hover #u3476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5081
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5084
{
	width: 43px;
}

#u5086-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u3475.MuseMenuActive #u3476-4,#u5084:hover #u5086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5084.MuseMenuActive #u5086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3358-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u3284-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

body
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

