.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 720px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -35px;
	margin-bottom: -3px;
}

#pu6731
{
	width: 0.01px;
	left: -3px;
	position: relative;
}

#u6731
{
	z-index: 121;
	width: 305px;
	margin-right: -10000px;
}

#u2936
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 419px;
}

#u6733
{
	z-index: 123;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu2965
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
	margin-top: 1px;
}

#u2987
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2988
{
	width: 130px;
	padding-bottom: 7px;
}

#u2988:hover
{
	margin: 0px;
}

#u2991-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2988:hover #u2991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3960
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u3961
{
	width: 146px;
	padding-bottom: 7px;
}

#u2988.MuseMenuActive,#u3961:hover
{
	margin: 0px;
}

#u3962-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2988.MuseMenuActive #u2991-4,#u3961:hover #u3962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2966
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u2969
{
	width: 298px;
	padding-bottom: 7px;
}

#u3961.MuseMenuActive,#u2969:hover
{
	margin: 0px;
}

#u2970-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3961.MuseMenuActive #u3962-4,#u2969:hover #u2970-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3017
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u3020
{
	width: 189px;
	padding-bottom: 7px;
}

#u2969.MuseMenuActive,#u3020:hover
{
	margin: 0px;
}

#u3023-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u2969.MuseMenuActive #u2970-4,#u3020:hover #u3023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2973
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u2974
{
	width: 114px;
	padding-bottom: 7px;
}

#u3020.MuseMenuActive,#u2974:hover
{
	margin: 0px;
}

#u2975-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3020.MuseMenuActive #u3023-4,#u2974:hover #u2975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2980
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u2983
{
	width: 136px;
	padding-bottom: 7px;
}

#u2974.MuseMenuActive,#u2983:hover
{
	margin: 0px;
}

#u2985-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u2974.MuseMenuActive #u2975-4,#u2983:hover #u2985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5011
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5012
{
	width: 147px;
	padding-bottom: 7px;
}

#u2983.MuseMenuActive,#u5012:hover
{
	margin: 0px;
}

#u5015-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u2983.MuseMenuActive #u2985-4,#u5012:hover #u5015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5012.MuseMenuActive #u5015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#pu3038
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 95px;
	position: relative;
}

#u3038
{
	z-index: 99;
	width: 257px;
	margin-right: -10000px;
	padding: 6px 7px 8.450000000001012px 9px;
}

#u2935
{
	z-index: 106;
	width: 257px;
	padding-bottom: 3px;
}

#u2963-4
{
	z-index: 107;
	margin-right: -10000px;
	margin-top: 4px;
	left: 104px;
}

#menuu2938
{
	z-index: 100;
	width: 257px;
	left: -1px;
	margin-top: 2px;
}

#u2940
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u2940:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2940:active
{
	margin: 0px -10000px 0px 0px;
}

#menuu3253
{
	z-index: 113;
	width: 257px;
	left: -1px;
	margin-top: 2px;
}

#u2939,#u3254
{
	width: 257px;
}

#u3257
{
	width: 257px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u2940.MuseMenuActive,#u3257:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3257:active
{
	margin: 0px -10000px 0px 0px;
}

#u3257.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2942,#u3260
{
	height: 22px;
	width: 257px;
}

#u3110
{
	z-index: 111;
	width: 6px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 19px;
}

#u3276
{
	z-index: 119;
	width: 6px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 19px;
}

#u6198
{
	z-index: 125;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 297px;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u6199
{
	z-index: 126;
	width: 789px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 7px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u6200-48
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#pu2961
{
	width: 0.01px;
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u2961
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u2961_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u2961_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu3039
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u3096
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3097
{
	width: 45px;
	padding-bottom: 20px;
}

#u5012.MuseMenuActive,#u3097:hover
{
	margin: 0px;
}

#u3100-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3097:hover #u3100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3939
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u3940
{
	width: 47px;
	padding-bottom: 20px;
}

#u3097.MuseMenuActive,#u3940:hover
{
	margin: 0px;
}

#u3940.MuseMenuActive
{
	margin: 0px;
}

#u3941-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u3097.MuseMenuActive #u3100-4,#u3940:hover #u3941-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3089
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u3090
{
	width: 157px;
	padding-bottom: 20px;
}

#u3092-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3940.MuseMenuActive #u3941-4,#u3090:hover #u3092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3047
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u3048
{
	width: 84px;
	padding-bottom: 20px;
}

#u3049-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3090.MuseMenuActive #u3092-4,#u3048:hover #u3049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3040
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u3041
{
	width: 33px;
	padding-bottom: 20px;
}

#u3042-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3048.MuseMenuActive #u3049-4,#u3041:hover #u3042-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3082
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u3085
{
	width: 49px;
	padding-bottom: 20px;
}

#u3088-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3041.MuseMenuActive #u3042-4,#u3085:hover #u3088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5060
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5061
{
	width: 43px;
}

#u5063-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u3085.MuseMenuActive #u3088-4,#u5061:hover #u5063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5061.MuseMenuActive #u5063-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2962-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u2964-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

body
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

