.html
{
	background: #7F7F7F url("../images/golf-course-morning.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 649.85px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -34px;
	margin-bottom: -3px;
}

#pu6698
{
	width: 0.01px;
	left: -4px;
	position: relative;
}

#u6698
{
	z-index: 99;
	width: 305px;
	margin-right: -10000px;
}

#u97
{
	z-index: 2;
	width: 369px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 420px;
}

#u6700
{
	z-index: 101;
	width: 305px;
	margin-right: -10000px;
	left: 903px;
}

#menuu109
{
	z-index: 4;
	width: 1160px;
	margin-left: 20px;
}

#u134
{
	width: 130px;
	min-height: 36px;
	margin-right: -10000px;
}

#u137
{
	width: 130px;
	padding-bottom: 7px;
}

#u137:hover
{
	margin: 0px;
}

#u140-4
{
	width: 54px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u137:hover #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3946
{
	width: 146px;
	min-height: 36px;
	margin-right: -10000px;
	left: 130px;
}

#u3949
{
	width: 146px;
	padding-bottom: 7px;
}

#u137.MuseMenuActive,#u3949:hover
{
	margin: 0px;
}

#u3950-4
{
	width: 70px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u137.MuseMenuActive #u140-4,#u3949:hover #u3950-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u297
{
	width: 298px;
	min-height: 36px;
	margin-right: -10000px;
	left: 276px;
}

#u300
{
	width: 298px;
	padding-bottom: 7px;
}

#u3949.MuseMenuActive,#u300:hover
{
	margin: 0px;
}

#u303-4
{
	width: 222px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u3949.MuseMenuActive #u3950-4,#u300:hover #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u203
{
	width: 189px;
	min-height: 36px;
	margin-right: -10000px;
	left: 574px;
}

#u204
{
	width: 189px;
	padding-bottom: 7px;
}

#u300.MuseMenuActive,#u204:hover
{
	margin: 0px;
}

#u207-4
{
	width: 113px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u300.MuseMenuActive #u303-4,#u204:hover #u207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u218
{
	width: 114px;
	min-height: 36px;
	margin-right: -10000px;
	left: 763px;
}

#u221
{
	width: 114px;
	padding-bottom: 7px;
}

#u204.MuseMenuActive,#u221:hover
{
	margin: 0px;
}

#u223-4
{
	width: 38px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 38px;
}

#u204.MuseMenuActive #u207-4,#u221:hover #u223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u233
{
	width: 136px;
	min-height: 36px;
	margin-right: -10000px;
	left: 877px;
}

#u236
{
	width: 136px;
	padding-bottom: 7px;
}

#u221.MuseMenuActive,#u236:hover
{
	margin: 0px;
}

#u238-4
{
	width: 61px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u221.MuseMenuActive #u223-4,#u236:hover #u238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5025
{
	width: 147px;
	min-height: 36px;
	margin-right: -10000px;
	left: 1013px;
}

#u5026
{
	width: 147px;
	padding-bottom: 7px;
}

#u236.MuseMenuActive,#u5026:hover
{
	margin: 0px;
}

#u5027-4
{
	width: 72px;
	min-height: 29px;
	margin-right: -10000px;
	top: 3px;
	left: 37px;
}

#u236.MuseMenuActive #u238-4,#u5026:hover #u5027-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u5026.MuseMenuActive #u5027-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u3849
{
	z-index: 103;
	width: 802px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.21);
	padding-bottom: 10px;
	margin-left: 199px;
	margin-top: 115px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.21);
}

#u3850
{
	z-index: 104;
	width: 789px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
	background: transparent url("../images/cbg-01.png") repeat left bottom;
}

#u3852-7
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#pu455
{
	width: 0.01px;
	left: -100px;
	margin-top: 90px;
	position: relative;
}

#u455
{
	z-index: 47;
	width: 1400px;
	margin-right: -10000px;
}

#u455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u455_position_content
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#menuu463
{
	z-index: 48;
	width: 470px;
	left: 460px;
}

#u471
{
	width: 45px;
	min-height: 34px;
	margin-right: -10000px;
}

#u474
{
	width: 45px;
	padding-bottom: 20px;
}

#u5026.MuseMenuActive,#u474:hover
{
	margin: 0px;
}

#u475-4
{
	width: 36px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u474:hover #u475-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u3953
{
	width: 47px;
	min-height: 34px;
	margin-right: -10000px;
	left: 47px;
}

#u3954
{
	width: 47px;
	padding-bottom: 20px;
}

#u474.MuseMenuActive,#u3954:hover
{
	margin: 0px;
}

#u3954.MuseMenuActive
{
	margin: 0px;
}

#u3955-4
{
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u474.MuseMenuActive #u475-4,#u3954:hover #u3955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u464
{
	width: 157px;
	min-height: 34px;
	margin-right: -10000px;
	left: 96px;
}

#u467
{
	width: 157px;
	padding-bottom: 20px;
}

#u468-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u3954.MuseMenuActive #u3955-4,#u467:hover #u468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u509
{
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	left: 255px;
}

#u510
{
	width: 84px;
	padding-bottom: 20px;
}

#u513-4
{
	width: 75px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u467.MuseMenuActive #u468-4,#u510:hover #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u485
{
	width: 33px;
	min-height: 34px;
	margin-right: -10000px;
	left: 341px;
}

#u488
{
	width: 33px;
	padding-bottom: 20px;
}

#u489-4
{
	width: 25px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u510.MuseMenuActive #u513-4,#u488:hover #u489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u530
{
	width: 49px;
	min-height: 34px;
	margin-right: -10000px;
	left: 376px;
}

#u531
{
	width: 49px;
	padding-bottom: 20px;
}

#u534-4
{
	width: 41px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 4px;
}

#u488.MuseMenuActive #u489-4,#u531:hover #u534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5018
{
	width: 43px;
	min-height: 34px;
	margin-right: -10000px;
	top: 10px;
	left: 427px;
}

#u5021
{
	width: 43px;
}

#u5024-4
{
	width: 43px;
	min-height: 14px;
	margin-right: -10000px;
}

#u531.MuseMenuActive #u534-4,#u5021:hover #u5024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u5021.MuseMenuActive #u5024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u553-4
{
	z-index: 95;
	width: 264px;
	min-height: 12px;
	left: 568px;
	margin-top: 19px;
}

#u551-4
{
	z-index: 91;
	width: 486px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 457px;
}

body
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

